/* .checklist-container {
    border: 2px solid rgb(244, 212, 250);
    border-radius: 7px;
} */

/* .header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(250, 232, 255);
} */

/* .header b {
    margin-right: 15px;
}

.header i {
    margin: 0px;
} */
