.App {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 900px;
  border: 2px solid rgb(244, 212, 250);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(250, 232, 255);
}

.header b {
  margin-right: 15px;
}

.header i {
  margin: 0px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
}

.navigationButtons-container {
  display: flex;
}